#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.

#DH_VERBOSE = 1

%:
	dh $@ --with python2,python3 --buildsystem=python_distutils

override_dh_auto_install:
	python2.7 setup.py install --root=debian/python-rpi.gpio --install-layout=deb
	python3.2 setup.py install --root=debian/python3-rpi.gpio --install-layout=deb
	python3.3 setup.py install --root=debian/python3-rpi.gpio --install-layout=deb
	python3.4 setup.py install --root=debian/python3-rpi.gpio --install-layout=deb

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
